name: Run Tests

on:
  pull_request:
    branches:
      - '**'
    types:
      - opened
      - reopened
      - synchronize

jobs:
  integration-test:
    name: Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8]

    steps:
    - uses: actions/checkout@v2

    - name: Install Perl modules
      uses: perl-actions/install-with-cpanm@v1
      with:
        install: |
          DBD::mysql

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'

    - name: Run Unit and Integration Tests With Maven
      run: ./mvnw -B clean verify --file pom.xml -Prun-its
